<nav class="container">
    <img class="container__img" src="assets/logo.svg" alt="">
    <form class="container__form">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        <input class="container__input"type="text" placeholder="Search food" maxlength="30">
    </form>
    <ul class="container__icons">
        <a routerLink="/home"><fa-icon class="container__icon" [icon]="faHome"></fa-icon></a>
        <a routerLink="/home"><fa-icon class="container__icon" [icon]="faBagShopping"></fa-icon></a>
        <a routerLink="/home"><fa-icon class="container__icon" [icon]="faReceipt"></fa-icon> </a>
    </ul>
</nav>
