<form (ngSubmit)="submit()" [formGroup]="companyRegistrationForm">
    <input type="text" placeholder="Company name" formControlName="name">
    <input type="text" placeholder="Cnpj" formControlName="cnpj">
    <input type="text" placeholder="Email" formControlName="email">
    <input type="text" placeholder="Password" formControlName="password">
    <input type="text" placeholder="Phone" formControlName="phone">
    <input type="file" accept="image/*" (change)="onFileSelected($event)">
    <button type="submit">ola</button>
</form>